@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    box-sizing: border-box;
    height: 100vw;
    font-family: Inter, sans-serif;
  /*background-color: #09090B;*/
  /*color: #FFFFFF;*/
  /*@apply container mx-auto text-zinc-950 dark:text-white dark:bg-zinc-800;*/
}
